@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color_blue: rgba(0, 0, 255, 0.726);
  --color_dark: #6666;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(241, 255, 250, 0.788);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 120px;
  width: 100%;
  z-index: 2;
  /* margin-left: auto;
  margin-right: auto; */
  box-shadow: 0px 1px 4px rgba(128, 128, 128, 0.6);
  top: 0;
  position: fixed;
  background: white;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo a {
  padding-right: 20px;
}
header .logo a img {
  width: 35px;
  height: 35px;
}

header .search_bar {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 35px;
  width: 250px;
  padding: 5px;

  /* border: 1px solid var(--color_dark); */
  border-radius: 5px;
  background-color: #ececec66;
}
header .search_bar img {
  width: 15px;
  height: 15px;
}
header .search_bar input {
  border: none;
  height: 35px;
  background: transparent;
  width: 100%;
  outline: none;
}

header nav {
  display: flex;
  gap: 30px;
}
header nav a {
  color: black;
  display: flex;
  align-items: center;
}
header nav a img {
  width: 25px;
  height: 25px;
}
header .profile_online {
  position: relative;
}

header .profile_online::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(0, 172, 0);
  top: 0;
  z-index: 22;
  right: 0;
  border-radius: 50%;
}
header .profile_online img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;

  max-width: 1200px;
  margin-top: 68px;
  margin-left: auto;
  margin-right: auto;
}

.container aside {
  flex: 1;
  width: 425px;
  /* height: 100px; */
}

.container aside.profile {
  position: sticky;
  height: max-content;
  top: 4.5rem;
}
.container aside.profile .cover {
  position: relative;
  background-color: #fff;
  padding-bottom: 10px;
}
.container aside.profile .cover img.cover_Pic {
  width: 100%;
  height: 100%;
}
.container aside.profile .cover .profile_Pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  overflow: hidden;
  border: 4px solid #fff;
  left: 20px;
}
.container aside.profile .cover .profile_Pic:hover img {
  transform: scale(1.1);
}
.container aside.profile .cover .profile_Pic img {
  width: 100%;
  object-fit: cover;
  height: 100%;

  border-radius: 50%;
  transition: 0.5s ease;
}

.infoUser {
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}
.infoUser h1 {
  font-weight: 600;
}
.infoUser p {
  font-size: 13px;
  font-weight: 300;
}
.statisctis {
  padding-bottom: 10px;
  border-bottom: 1px solid #6666;
}
.statisctis li {
  font-size: 13px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}
.statisctis li span {
  padding-top: 7px;
}
.statisctis li span.compteur {
  color: var(--color_blue);
}

.promoSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.5px;
}
.promoSection .items {
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 13px;
  gap: 5px;
  width: 100%;
}
.promoSection .items:nth-child(1) {
  border-right: 1px solid #6666;
}
.promoSection .items img {
  width: 20px;
  height: 100%;
}

.skills {
  margin-top: 10px;
  padding: 15px;
  background-color: #fff;
  width: 100%;
}

.skills p {
  font-size: 14px;
  border-bottom: 1px solid #6666;
  margin-bottom: 5px;
}
.skills ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.skills ul li {
  font-size: 13px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.skills ul li img {
  width: 17px;
}
.container .center {
  flex: 2;
}

.container .center .write {
  width: 100%;
  background: white;
  display: flex;
  align-items: start;
  gap: 5px;

  border-bottom: 1px solid #6666;
}
.container .center .write .user {
  width: 40px;
  height: 40px;
}
.container .center .write .user img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.container .center .write textarea {
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  height: 150px;
  font-family: "Poppins", sans-serif;
}

.skills_Publication {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #6666;
}
.skills_Publication li {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 50px;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.skills_Publication li:hover {
  background-color: #6666;
}
.skills_Publication li img {
  width: 15px;
  height: 15px;
}
.skills_Publication li:nth-child(1),
.skills_Publication li:nth-child(2) {
  border-right: 1px solid #6666;
}
.skills_Publication li:nth-child(4) {
  background-color: var(--color_blue);
  color: white;
}

.publications {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
.items_publication {
  margin: 30px 0;
}

.items_publication .pub_Profile {
  display: flex;
  gap: 10px;
}
.items_publication .pub_Profile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.items_publication .pub_Profile .infoProfile h4 {
  font-weight: 600;
}
.items_publication .pub_Profile .infoProfile p,
.items_publication .pub_Profile .infoProfile span {
  font-weight: 300;
  font-size: 13px;
}

.contentPub {
  padding-top: 10px;
}
.contentPub p {
  text-align: justify;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 10px;
}
.postImage {
  width: 600px;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.contentPub:hover img {
  transform: scale(1.1);
}
.postImage img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.5s ease;
}

.reaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #666;
}
.reaction .group {
  display: flex;
  align-items: center;
}
.reaction .group img {
  width: 15px;
  height: 15px;
}
.reaction > div {
  display: flex;
  color: #292929ab;
  font-size: 13px;
}
.secondDiv {
  display: flex;
  gap: 10px;
}

.reaction_Pub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reaction_Pub li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.reaction_Pub li.picture_Pub img:nth-child(1) {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.reaction_Pub li.picture_Pub img:nth-child(2) {
  width: 20px;
}
.reaction_Pub li.pict_Reaction img {
  width: 20px;
  height: 20px;
}
.container .tendances {
  position: sticky;
  top: 4.5rem;
}
.tendances .tendance_Once {
  height: max-content;
  background-color: white;
  width: 100%;
  padding: 15px;
  margin: 5px 0;
}
.tendances .tendance_Head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tendances .tendance_Head h3 {
  font-weight: 500;
  font-size: 15.6px;
}
.tendances .tendance_Head img {
  width: 18px;
  height: 18px;
}
.more_tendance {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.more_tendance li {
  line-height: 18px;
}
.more_tendance li p {
  font-size: 13px;
}
.more_tendance li span {
  font-size: 13px;
  color: #666;
}

.tendance_Once button.read-more {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--color_blue);
}
.tendance_Once .table {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tendance_Head span {
  font-size: 13px;
  text-align: right;
}
.tendance_Once .table span {
  font-size: 13px;
}
.tendance_Once .table .flex-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
.tendance_Once .table .flex-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.btnLearn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
.tendance_Once button.learn-more {
  cursor: pointer;
  border: 1px solid var(--color_blue);
  padding: 10px 20px;
  background-color: transparent;
  color: var(--color_blue);
  border-radius: 20px;
  transition: 0.5s ease;
}
.tendance_Once button.learn-more:hover {
  background-color: var(--color_blue);
  color: #fff;
}

.footer_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px;
  font-size: 13px;
  color: #666;
}
.footer_ul li {
  transition: 0.5s ease;
}
.footer_ul li:hover {
  cursor: pointer;
  color: black;
  border-bottom: 1px solid black;
}
